.header-two{
    width: 1920px;
    height: 196px;
    left: 0;
    background: #FFFFFF;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.header__logo{
    position: absolute;
    width: 246px;
    height: 83px;
    left: 283px;
    top: 56px;
}
.header-button{
    position: absolute;
    width: 164px;
    height: 53px;
    left: 283px;
    top: 159px;
}
.catalog{
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    background: #005BB9;
    width: 170px;
    height: 55px;
    border-radius:6px;
}
.poisk{
    position: absolute;
    width: 549px;
    height: 53px;
    left: 477px;
    top: 159px;
    background: #F4F5FA;
    border-radius: 6px 0 0 6px;
}
.search{
    width: 101px;
    height: 53px;
    left: 1025px;
    top: 159px;
    background: #005BB9;
    border-radius: 0 6px 6px 0;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}
.clock__work{
    position: absolute;
    width: 258px;
    height: 40px;
    left: 629px;
    top: 77px;
}
.adress__tov{
    position: absolute;
    width: 169px;
    height: 32px;
    left: 975px;
    top: 81px;
}
.whats__button{
    position: absolute;
    width: 173px;
    height: 28px;
    left: 1204px;
    top: 82px;
    background: #E1EFD0;
    border-radius: 12px;
}
.header__phone{
    position: absolute;
    width: 157px;
    height: 23px;
    left: 1480px;
    top: 77px;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #0F2438;
}
.cvet{
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-decoration-line: underline;
    color: #0F2438;
    opacity: 0.7;
}
.header__login{
    position: absolute;
    width: 411px;
    height: 32px;
    left: 1226px;
    top: 170px;
}