.box1{
    background-color: #a19e9e;
    width: 400px;
    height: 100px;
}
.box2{
    background-color: #1fb926;
    width: 400px;
    height: 100px;
}
.box3{
    background-color: #FF7400;
    width: 400px;
    height: 100px;
}