.header-fone{
    position: absolute;
    width: 1920px;
    height: 36px;
    left: 0;
    top: 0;
    background: #0F2438;
}
.header-city{
    position: absolute;
    width: 128px;
    height: 16px;
    left: 307px;
    top: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}
.inform{
    position: absolute;
    width: 87px;
    height: 16px;
    left: 485px;
    top: 2px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}
.partner{
    position: absolute;
    width: 109px;
    height: 16px;
    left: 617px;
    top: 2px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}
.header-nav__menu{
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
    position: absolute;
    width: 64px;
    height: 16px;
    left: 1033px;
    top: 10px;
}
.header-nav__text{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    text-decoration: none;
}