
.header-fone{
    position: absolute;
    width: 1920px;
    height: 36px;
    left: 0;
    top: 0;
    background: #0F2438;
}
.header-city{
    position: absolute;
    width: 128px;
    height: 16px;
    left: 307px;
    top: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}
.inform{
    position: absolute;
    width: 87px;
    height: 16px;
    left: 485px;
    top: 2px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}
.partner{
    position: absolute;
    width: 109px;
    height: 16px;
    left: 617px;
    top: 2px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}
.header-nav__menu{
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
    position: absolute;
    width: 64px;
    height: 16px;
    left: 1033px;
    top: 10px;
}
.header-nav__text{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    text-decoration: none;
}


.header-two__fone{
    position: absolute;
    width: 1920px;
    height: 196px;
    left: 0;
    top: 36px;
    background: #FFFFFF;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.header-two__logo{
    position: absolute;
    width: 246px;
    height: 83px;
    left: 283px;
    top: 56px;
}
.header-two__openwork{
    position: absolute;
    width: 258px;
    height: 40px;
    left: 629px;
    top: 77px;
}
.header-two__adress{
    position: absolute;
    width: 169px;
    height: 32px;
    left: 975px;
    top: 81px;
}
.header-two__watsup{
    position: absolute;
    width: 204px;
    height: 30px;
    left: 1206px;
    top: 82px;
    cursor: pointer;
   }
.header-two__phone{
    position: absolute;
    width: 157px;
    height: 23px;
    left: 1480px;
    top: 77px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #0F2438;
}
.header-two__callback{
    position: absolute;
    width: 130px;
    height: 14px;
    left: 1507px;
    top: 103px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-decoration: none;
    }





.container__menu{
    position: absolute;
    width: 1042px;
    height: 694px;
    left: 266px;
    top: 262px;
}
.menu-akciya{
    position: absolute;
    width: 336px;
    height: 190px;
    left: 1330px;
    top: 262px;
    background: #F4F5FA;
    border-radius: 10px;
}
.menu__akciya2{
    position: absolute;
    width: 336px;
    height: 190px;
    left: 1330px;
    top: 478px;
    background: #F4F5FA;
    border-radius: 10px;
}
.name{
    left: 1411px;
    top: 316px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    color: #0A1A2C;
}
.total{
    width: 66px;
    height: 23px;
    left: 1411px;
    top: 402px;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #FFB800;
}
.buy{
    width: 190px;
    height: 29px;
    left: 1565px;
    top: 383px;
    background: #005BB9;
    border-radius: 6px;
}
.products__oil{
    position: absolute;
    width: 431px;
    height: 184px;
    left: 283px;
    top: 722px;
    background: #FFFFFF;
    border: 1px solid #E1E5F8;
    box-sizing: border-box;
    border-radius: 6px;
}
.products__filtr{
    position: absolute;
    width: 431px;
    height: 184px;
    left: 744px;
    top: 722px;
    background: #FFFFFF;
    border: 1px solid #E1E5F8;
    box-sizing: border-box;
    border-radius: 6px;
}
.products__radiator{
    position: absolute;
    width: 431px;
    height: 184px;
    left: 1205px;
    top: 722px;
    background: #FFFFFF;
    border: 1px solid #E1E5F8;
    box-sizing: border-box;
    border-radius: 6px;
}
.pereyti{
    width: 98px;
    height: 43px;
    left: 313px;
    top: 850px;
    background: #005BB9;
    border-radius: 4px;
}
.filtr{
    position: absolute;
    width: 163px;
    height: 202px;
    left: 1018px;
    top: 712px;
}
.oil{
    position: absolute;
    width: 154px;
    height: 202px;
    left: 560px;
    top: 716px;
}
.radiator{
    position: absolute;
    width: 207px;
    height: 197px;
    left: 1436px;
    top: 716px;
}
.mini-menu__tovar{
    position: absolute;
    width: 241px;
    height: 55px;
    left: 283px;
    top: 976px;
    background: #005BB9;
    border-radius: 6px;
}

.mini-menu__akciya{
    position: absolute;
    width: 123px;
    height: 55px;
    left: 544px;
    top: 976px;
    border: 2px solid #005BB9;
    box-sizing: border-box;
    border-radius: 6px;
}
.mini-menu__buynow{
    position: absolute;
    width: 229px;
    height: 55px;
    left: 687px;
    top: 976px;
    border: 2px solid #005BB9;
    box-sizing: border-box;
    border-radius: 6px;
}
.tovar{
    position: absolute;
    width: 177px;
    height: 23px;
    left: 315px;
    top: 992px;
    font-style: normal;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    text-decoration: none
}
.akciya{
    position: absolute;
    width: 59px;
    height: 23px;
    left: 576px;
    top: 992px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #005BB9;
    text-decoration: none
}
.buynow{
    position: absolute;
    width: 165px;
    height: 23px;
    left: 719px;
    top: 992px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #005BB9;
    text-decoration: none

}
.zap1{
    position: absolute;
    width: 276px;
    height: 235px;
    left: 267px;
    top: 1042px;
}
.zap2{
    position: absolute;
    width: 270px;
    height: 213px;
    left: 633px;
    top: 1065px;
}
.zap3{
    position: absolute;
    width: 276px;
    height: 235px;
    left: 960px;
    top: 1042px;
}
.zap4{
    position: absolute;
    width: 253px;
    height: 244px;
    left: 1334px;
    top: 1050px;
}
.zap_1{
    position: absolute;
    width: 316px;
    height: 25px;
    left: 283px;
    top: 1324px;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    color: #0A1A2C;

}
.zap_2{
    position: absolute;
    width: 316px;
    height: 25px;
    left: 630px;
    top: 1324px;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    color: #0A1A2C;
}
.zap_3{
    position: absolute;
    width: 316px;
    height: 50px;
    left: 976px;
    top: 1324px;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    color: #0A1A2C;
}
.zap_4{
    position: absolute;
    width: 316px;
    height: 50px;
    left: 1322px;
    top: 1324px;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    color: #0A1A2C;
}
.zap__1{
    position: absolute;
    width: 35px;
    height: 15px;
    left: 283px;
    top: 1395px;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: #000000;
}
.zap__1_1{
    position: absolute;
    width: 67px;
    height: 15px;
    left: 322px;
    top: 1395px;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    text-decoration-line: underline;
    color: #005BB9;

}
.zap__2{
    position: absolute;
    width: 72px;
    height: 26px;
    left: 629px;
    top: 1389px;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    color: #FFB800;
}
.zap__2_1{
    position: absolute;
    width: 51px;
    height: 19px;
    left: 709px;
    top: 1395px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: line-through;
    color: #C2C5DA;
}
.zap__3{
    position: absolute;
    width: 35px;
    height: 15px;
    left: 976px;
    top: 1395px;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: #000000;
}
.zap__3_1{
    position: absolute;
    width: 67px;
    height: 15px;
    left: 1015px;
    top: 1395px;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    text-decoration-line: underline;
    color: #005BB9;
}
.zap__4{
    position: absolute;
    width: 35px;
    height: 15px;
    left: 1322px;
    top: 1395px;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: #000000;
}
.zap__4_1{
    position: absolute;
    width: 67px;
    height: 15px;
    left: 1361px;
    top: 1395px;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    text-decoration-line: underline;
    color: #005BB9;
}
.z1{
    position: absolute;
    width: 160px;
    height: 49px;
    left: 283px;
    top: 1430px;
}
.z2{
    position: absolute;
    width: 160px;
    height: 49px;
    left: 630px;
    top: 1430px;

}
.z3{
    position: absolute;
    width: 160px;
    height: 49px;
    left: 976px;
    top: 1430px;

}
.z4{
    position: absolute;
    width: 160px;
    height: 49px;
    left: 1322px;
    top: 1430px;
 }
.zap_fav_1{
    position: absolute;
    left: 483px;
    top: 1445px;

}
.zap_fav_2{
    position: absolute;
    left: 823px;
    top: 1445px;
}
.zap_fav_3{
    position: absolute;
    left: 1170px;
    top: 1445px;
}
.zap_fav_4{
    position: absolute;
    left: 1520px;
    top: 1445px;
}
.zap5{
    position: absolute;
    width: 276px;
    height: 235px;
    left: 267px;
    top: 1541px;
}
.zap6{
    position: absolute;
    width: 270px;
    height: 213px;
    left: 633px;
    top: 1564px;

}
.zap7{
    position: absolute;
    width: 276px;
    height: 235px;
    left: 960px;
    top: 1541px;

}
.zap8{
    position: absolute;
    width: 253px;
    height: 244px;
    left: 1334px;
    top: 1549px;

}
.zap_5{
    position: absolute;
    width: 316px;
    height: 25px;
    left: 283px;
    top: 1823px;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    color: #0A1A2C;

}
.zap_6{
    position: absolute;
    width: 316px;
    height: 25px;
    left: 630px;
    top: 1823px;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    color: #0A1A2C;

}
.zap_7{
    position: absolute;
    width: 316px;
    height: 50px;
    left: 976px;
    top: 1823px;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    color: #0A1A2C;

}
.zap_8{
    position: absolute;
    width: 316px;
    height: 50px;
    left: 1322px;
    top: 1823px;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    color: #0A1A2C;

}
.zap__5{
    position: absolute;
    width: 35px;
    height: 15px;
    left: 283px;
    top: 1894px;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: #000000;
}
.zap__5_1{
    position: absolute;
    width: 67px;
    height: 15px;
    left: 322px;
    top: 1894px;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    text-decoration-line: underline;
    color: #005BB9;
}
.zap__6{
    position: absolute;
    width: 72px;
    height: 26px;
    left: 629px;
    top: 1888px;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    color: #FFB800;
}
.zap__6_1{
    position: absolute;
    width: 51px;
    height: 19px;
    left: 709px;
    top: 1894px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: line-through;
    color: #C2C5DA;
}
.zap__7{
    position: absolute;
    width: 35px;
    height: 15px;
    left: 976px;
    top: 1894px;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: #000000;
}
.zap__7_1{
    position: absolute;
    width: 67px;
    height: 15px;
    left: 1015px;
    top: 1894px;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    text-decoration-line: underline;
    color: #005BB9;
}
.zap__8{
    position: absolute;
    width: 35px;
    height: 15px;
    left: 1322px;
    top: 1894px;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: #000000;
}
.zap__8_1{
    position: absolute;
    width: 67px;
    height: 15px;
    left: 1361px;
    top: 1894px;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    text-decoration-line: underline;
    color: #005BB9;
}
.z5{
    position: absolute;
    width: 160px;
    height: 49px;
    left: 283px;
    top: 1929px;
}
.z6{
    position: absolute;
    width: 160px;
    height: 49px;
    left: 630px;
    top: 1929px;
}
.z7{
    position: absolute;
    width: 160px;
    height: 49px;
    left: 976px;
    top: 1929px;
}
.z8{
    position: absolute;
    width: 160px;
    height: 49px;
    left: 1322px;
    top: 1929px;
}
.zap_fav_5{
    position: absolute;
    left: 483px;
    top: 1948px;
}
.zap_fav_6{
    position: absolute;
    left: 823px;
    top: 1948px;
}
.zap_fav_7{
    position: absolute;
    left: 1170px;
    top: 1948px;
}
.zap_fav_8{
    position: absolute;
    left: 1520px;
    top: 1948px;
}
.next-products{
    position: absolute;
    width: 187px;
    height: 49px;
    left: 867px;
    top: 2018px;
    background: #FFFFFF;
    border: 2px solid #005BB9;
    box-sizing: border-box;
    border-radius: 6px;
    color: #005BB9;
    text-decoration: none
}
.news{
    position: absolute;
    width: 113px;
    height: 28px;
    left: 281px;
    top: 2147px;
}
.news-scroll__devil{
    position: absolute;
    width: 1920px;
    height: 9px;
    left: 0;
    top: 2189px;
    background: #F5F5F5;
}
.news-scroll__circl{
    position: absolute;
    width: 9px;
    height: 9px;
    left: 332px;
    top: 2189px;
    border-radius: 100px;
    background: #0C1A2A;
}
.news-scroll__circl2{
    position: absolute;
    width: 9px;
    height: 9px;
    left: 676px;
    top: 2189px;
    border-radius: 100px;
    background: #0C1A2A;
}
.news-scroll__circl3{
    position: absolute;
    width: 9px;
    height: 9px;
    left: 1045px;
    top: 2189px;
    border-radius: 100px;
    background: #0C1A2A;
}
.news-scroll__circl4{
    position: absolute;
    width: 9px;
    height: 9px;
    left: 1409px;
    top: 2189px;
    border-radius: 100px;
    background: #0C1A2A;
}
.news-scroll__devildown{
    position: absolute;
    width: 1px;
    height: 20px;
    left: 336px;
    top: 2198px;
    background: #0C1A2A;
}
.news-scroll__devildown2{
    position: absolute;
    width: 1px;
    height: 20px;
    left: 680px;
    top: 2198px;
    background: #0C1A2A;
}
.news-scroll__devildown3{
    position: absolute;
    width: 1px;
    height: 20px;
    left: 1049px;
    top: 2198px;
    background: #0C1A2A;
}
.news-scroll__devildown4{
    position: absolute;
    width: 1px;
    height: 20px;
    left: 1413px;
    top: 2198px;
    background: #0C1A2A;
}
.news-scroll__date{
    position: absolute;
    width: 106px;
    height: 22px;
    left: 283px;
    top: 2218px;
    background: #0C1A2A;
    border-radius: 4px;
}
.news-scroll__date p{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 27px;
    color: #FFFFFF;
    text-align: center;
}
.news-scroll__date2{
    position: absolute;
    width: 106px;
    height: 22px;
    left: 627px;
    top: 2218px;
    background: #0C1A2A;
    border-radius: 4px;
}
.news-scroll__date2 p{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
}
.news-scroll__date3{
    position: absolute;
    width: 106px;
    height: 22px;
    left: 996px;
    top: 2218px;
    background: #0C1A2A;
    border-radius: 4px;
}
.news-scroll__date3 p{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
}
.news-scroll__date4{
    position: absolute;
    width: 121px;
    height: 22px;
    left: 1360px;
    top: 2218px;
    background: #0C1A2A;
    border-radius: 4px;
}
.news-scroll__date4 p{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
}
.news-scroll__content{
    position: absolute;
    width: 153px;
    height: 19px;
    left: 283px;
    top: 2255px;
}
.news-scroll__content p{
    width: 284px;
    height: 140px;
    left: 283px;
    top: 2294px;
}
.news-scroll__content2{
    position: absolute;
    width: 191px;
    height: 38px;
    left: 627px;
    top: 2255px;
}
.news-scroll__content2 p{
    width: 311px;
    height: 80px;
    left: 627px;
    top: 2313px;
}
.news-scroll__content3{
    position: absolute;
    width: 268px;
    height: 38px;
    left: 996px;
    top: 2255px;
}
.news-scroll__content3 p{
    width: 260px;
    height: 120px;
    left: 996px;
    top: 2313px;
}
.news-scroll__content4{
    position: absolute;
    width: 278px;
    height: 38px;
    left: 1360px;
    top: 2255px;
}
.news-scroll__content4 p{
    width: 252px;
    height: 100px;
    left: 1360px;
    top: 2313px;
}
.bottom__fone{
    position: absolute;
    width: 1920px;
    height: 408px;
    left: 0;
    top: 2554px;
    background: #0C1A2A;
}
.bottom__catalog{
    position: absolute;
    width: 80px;
    height: 21px;
    left: 283px;
    top: 2590px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #868DAC;
}

.bottom__rubrikator{
    position: absolute;
    width: 116px;
    height: 21px;
    left: 497px;
    top: 2590px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #868DAC;
}
.bottom-inform__zagolovok{
    position: absolute;
    width: 130px;
    height: 21px;
    left: 758px;
    top: 2590px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #868DAC;
}
.bottom-inform__content{
    position: absolute;
    width: 276px;
    height: 32px;
    left: 758px;
    top: 2625px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}

.bottom__pay{
    position: absolute;
    width: 104px;
    height: 16px;
    left: 760px;
    top: 2808px;
}
.bottom-contacs__zagolovok{
    position: absolute;
    width: 97px;
    height: 21px;
    left: 1166px;
    top: 2590px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #868DAC;
}
.bottom-contacs__content{
    position: absolute;
    width: 125px;
    height: 19px;
    left: 1166px;
    top: 2623px;
}
.bottom-adreess__zagalovok{
    position: absolute;
    width: 60px;
    height: 21px;
    left: 1398px;
    top: 2590px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #868DAC;
}
.bottom-adreess__content{
    position: absolute;
    width: 239px;
    height: 38px;
    left: 1398px;
    top: 2623px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}
.cvettext{
    font-style: normal;
    font-size: 14px;
    line-height: 22px;
    color: #FFFFFF;
    text-decoration: none
}

.bottom-online__zagalovok{
    position: absolute;
    width: 240px;
    height: 21px;
    left: 1167px;
    top: 2684px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #858CAB;
}
.forma_callback{
    position: absolute;
    width: 195px;
    height: 21px;
    left: 1430px;
    top: 2684px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    text-decoration: none
}
.bottom-sing__border{
    position: absolute;
    width: 470px;
    height: 40px;
    left: 1167px;
    top: 2815px;
    border: 1px solid #203246;
    box-sizing: border-box;
    border-radius: 6px;
}
.sing{
    position: absolute;
    width: 177px;
    height: 40px;
    left: 1460px;
    top: 2815px;
    background: #005BB9;
    border-radius: 0 6px 6px 0;
}
.bottom-sing__email{
    position: absolute;
    width: 140px;
    height: 19px;
    left: 1184px;
    top: 2824px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #ADBDD1;
}
.bottom-soc-sing__facebook{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 1381px;
    top: 2888px;
}
.bottom-soc-sing__telegram{
    position: absolute;
    width: 22px;
    height: 22px;
    left: 1456px;
    top: 2888px;
}
.bottom-soc-sing__twitter{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 1533px;
    top: 2888px;
}
.bottom-soc-sing__google{
    position: absolute;
    width: 26px;
    height: 26px;
    left: 1608px;
    top: 2888px;
}